@font-face {
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Cookie/Cookie-Regular.ttf");
}

@font-face {
  font-family: "AmaticSC";
  font-style: normal;
  src: url("../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "AmaticSCB";
  font-style: normal;
  src: url("../assets/fonts/Amatic_SC/AmaticSC-Bold.ttf");
}
