@font-face {
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Cookie/Cookie-Regular.ttf");
}

@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  src: url("../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "bold Amatic SC";
  font-style: bold;
  src: url("../assets/fonts/Amatic_SC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  src: url("../assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "Alex Brush";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Alex_Brush/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "Allura";
  font-style: normal;
  src: url("../assets/fonts/Allura/Allura-Regular.ttf");
}

@font-face {
  font-family: "Bad Script";
  font-style: bold;
  src: url("../assets/fonts/Bad_Script/BadScript-Regular.ttf");
}

@font-face {
  font-family: "Baloo Bhai";
  font-style: bold;
  src: url("../assets/fonts/Baloo_Bhai/BalooBhai-Regular.ttf");
}

@font-face {
  font-family: "Cinzel";
  font-style: normal;
  src: url("../assets/fonts/Cinzel/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "bold Cinzel";
  font-style: bold;
  src: url("../assets/fonts/Cinzel/Cinzel-Bold.ttf");
}

@font-face {
  font-family: "black Cinzel";
  font-style: black;
  src: url("../assets/fonts/Cinzel/Cinzel-Black.ttf");
}

@font-face {
  font-family: "Courgette";
  font-style: normal;
  src: url("../assets/fonts/Courgette/Courgette-Regular.ttf");
}

@font-face {
  font-family: "Gloria Hallelujah";
  font-style: normal;
  src: url("../assets/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf");
}

@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  src: url("../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Indie Flower";
  font-style: normal;
  src: url("../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "Marck Script";
  font-style: normal;
  src: url("../assets/fonts/Marck_Script/MarckScript-Regular.ttf");
}

@font-face {
  font-family: "Mountains of Christmas";
  font-style: normal;
  src: url("../assets/fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf");
}

@font-face {
  font-family: "bold Mountains of Christmas";
  font-style: bold;
  src: url("../assets/fonts/Mountains_of_Christmas/MountainsofChristmas-Bold.ttf");
}

@font-face {
  font-family: "Nothing you could do";
  font-style: normal;
  src: url("../assets/fonts/Nothing_You_Could_Do/NothingYouCouldDo-Regular.ttf");
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Parisienne";
  font-style: normal;
  src: url("../assets/fonts/Parisienne/Parisienne-Regular.ttf");
}

@font-face {
  font-family: "Pinyon Script";
  font-style: normal;
  src: url("../assets/fonts/Pinyon_Script/PinyonScript-Regular.ttf");
}

@font-face {
  font-family: "Reenie Beanie";
  font-style: normal;
  src: url("../assets/fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf");
}

@font-face {
  font-family: "Sacramento";
  font-style: normal;
  src: url("../assets/fonts/Sacramento/Sacramento-Regular.ttf");
}

@font-face {
  font-family: "Satisfy";
  font-style: normal;
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
}

@font-face {
  font-family: "Tangerine";
  font-style: normal;
  src: url("../assets/fonts/Tangerine/Tangerine-Regular.ttf");
}

@font-face {
  font-family: "bold Tangerine";
  font-style: normal;
  src: url("../assets/fonts/Tangerine/Tangerine-Bold.ttf");
}
